doctype
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Orchard
		meta(name='description', content='Orchard Interface Test')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='assets/css/main.css')
		script(src='//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')

		<!--[if lte IE 8]>
		script(src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
		script(src='//cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js')
		<![endif]-->
	body.green
		header.clearfix
			.header__top
				.header__logo
					img(src="./assets/img/logo.jpg")
			.header__bottom.clearfix
				nav.breadcrumb.pull-left
					ul.breadcrumb__list.clearfix
						li
							a(href="#") Merisant
						li
							a(href="#") Equal - APAC
						li 
							a(href="#") Design
				nav.header__bottom__menu.pull-right
					ul.header__bottom__menu__list.clearfix
						li
							a(href="#") Intranet
						li
							a(href="#") Projects Admin
						li
							a(href="#") Logout

		.container-fluid.no-padding.clearfix
			aside.left-menu
				ul.tree-view

			section.content
				.content__header.clearfix
					h1.pull-left Design
					a.button(href="#").pull-right Edit
				p Flat HTML site for creating base html and css and some Javascript to be used to create templates from in the EpiServer build site.

				h2 Version Control

				table.table.table--alternate.table__version-control
					tr
						td
							| Repository Location:
						td https://your.repo.location
					tr
						td
							| View Repo:
						td
							a(href="#") https://your.repo.location
					tr
						td
							| Activity Log:
						td
							a(href="#") View Log

				h2 Hosting
				p No information available

				.well.clearfix
					h3 Websites

					.well__sub
						.well__sub__title__container
							.well__sub__title
								p Description:
						.well__sub__content__container
							.well__sub__content
								p Only run locally

					.well__sub
						.well__sub__title__container
							.well__sub__title
								p URL:
						.well__sub__content__container
							.well__sub__content
								p http://localhost

					a.button.pull-right(href="#") Add

		footer
			span.footer__copyright &copy; Copyright Orchard Marketing
								
		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='assets/js/plugins.min.js')
		script(src='assets/js/global.min.js')