body{
	background-color: $bgcolor;
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: $text-color;
}

h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}

/*****
THEME
******/
.green{
	a{
		color: $green-link;
	}

	.button{
		border: 1px solid $green-button-border;
		border-radius: 4px;
		background-color: $green-button;
		color: #fff !important;
		padding: 0.5em 1em;
	}
}

/*********
ICONS
**********/
.checkbox_empty, .checkbox_min, .checkbox_plus{
	background: url(./assets/img/checkbox_sprites.png) no-repeat;
}

.checkbox_empty{
	background-position: 0 0;
	width: 9px;
	height: 9px;
}

.checkbox_min{
	background-position: -10px 0;
	width: 9px;
	height: 9px;
}

.checkbox_plus{
	background-position: -20px 0;
	width: 9px;
	height: 9px;
}

/*********
COMPONENTS
*********/
.table{
	width: 100%;
	background-color: #fff;
	
	td{
		padding: 1em;
		border: 1px solid $table-border-color;;
	}

	&--alternate{
		tr:nth-child(2n){
			td{
				background-color: $table-alternate-row; 
			}
		}
	}
}

.well{
	border-radius: 1em;
	padding: 1em 2em;
	border: 1px solid $well-border;
	background-color: $well-bgcolor;
	margin-bottom: 1em;
	
	h3{
		font-size: 1.5em;
	}

	&__sub{
		display:table;
		width: 100%;
		border-radius: 5px;
		border: 1px solid $well-border;
		overflow: hidden;
		margin-bottom: 1em;
		
		&__title, &__content{
			display: table-cell;
			padding-left: 1em;
			padding-right: 1em;
			
			&__container{
				display: table-row;
			}
		}

		&__title{
			background-color: $well-sub-bgcolor;
		}

		&__content{
			background-color: #fff;
		}
	}
}

.tree-view{
	a{
		color: $text-color;
	}
	
	ul{
		padding-left: 1em;
	}

	li{
		margin-top: 12px;
		list-style-type:none;
		position: relative;
		&:before{
			background: url(../img/checkbox_sprites.png) no-repeat;
			background-position: 0 0;
			width: 9px;
			height: 9px;
		    display:block;
		    position:absolute;
		    content: " ";
		    top: 3px;
		    left: -12px;	
		}

		&.selected{
			a{
				font-weight: bold;
			}
		}

		&.jqtree-folder{
			&:before{
				background-position: -10px 0;
			}
		}

		&.jqtree-closed{
			&:before{
				background-position: -20px 0; 
			}

			 & > ul.jqtree_common{
			 	display: none;
			 }
		}
	}
}

/*******
HEADER
********/
.header__bottom{
	background-color: $green-header;
	border-bottom: 3px solid $green-header-border;

	&__menu__list{
		list-style-type: none;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		li{
			float: left;
			color: #fff;
			margin-right: 3em;
			a{
				color: #fff;
				text-decoration: underline
			}
		}
	}
}

.breadcrumb{
	&__list{
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		list-style-type: none;
		li{
			float:left;
			color: #fff;
			a{
				color: #fff;
				text-decoration: underline;
			}

			&:after{
				content: ' > ';
				margin-right: 1em;
				margin-left: 1em;
			}
		}

		li:last-child{
			a{
				text-decoration: none;
			}
			&:after{
				content: '';
				margin-right: 0;
				margin-left: 0;
			}
		}
	}
}

.container-fluid{
	&.no-padding{
		padding-left: 0;
		padding-right: 0;
	}
}


/*******
CONTENT
********/
.left-menu{
	width: 22%;
	float: left;

	.tree-view{
		margin-top: 3.6em;
		padding-left: 1.4em;
	}
}

.content{
	width: 78%;
	float: left;
	border-left: 2px solid #cdccca;
	background-color: $content-bgcolor;
	padding-left: 50px;
	padding-right: 50px;

	&__header{
		margin-top: 4em;
		border-bottom: 1px solid $content-gray-border;

		h1{
			margin: 0;
		}
	}
}

.table{
	&__version-control{
		td:first-child{
			width: percentage(227/742);
			font-weight: bold;
		}
	}
}

/*******
Footer
********/
footer{
	background-color: $footer-bgcolor;
}

.footer__copyright{
	color: #fff;
	font-size: 10px;
	margin-left: 1em;
}